

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best Tic-Tac-Toe Site! Ever!</h1>
    <p>
        <a asp-action="pregame" asp-area="" asp-controller="home" class="btn btn-primary">Play</a>
    </p>
</div>
