
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <style>
        .blue
        {
            color: blue;
        }

        .red
        {
            color: red;
        }

        .text
        {
            font-family: 'Comic Sans MS';
            font-size: 40px;
        }

        div
        {
            border: 1px medium;
            background-color: yellow!important;
        }

        .bgred
        {
            background-color: #daa7a7;
        }

        #personal
        {
            background-color:green;
        }
    </style>
    <div class="text red">
        hi! i am red text
    </div>
    <div class="text">
        hi! i am blue
    </div>
    <div class="bgred">
        test? who i am
    </div>
    <div id="personal" class="bgred" style="background-color:aquamarine;">
        i am person
    </div>
</body>
</html>
